#section_back {
  background: linear-gradient(to bottom, #7fddff, #00073f);
}

::-webkit-scrollbar {
  width: 18rem;
}

::-webkit-scrollbar-track {
  background-color: #002f59;
}

::-webkit-scrollbar-thumb {
  background-color: #0069aa;
  border-radius: 30rem;
}

::-webkit-scrollbar-button {
  display: none;
}

@media (min-width: 1025px) {
  #section_back {
    margin-top: -100rem;
  }

  header {
    position: fixed;
    width: 100vw;
    z-index: 30;
    font-size: 20rem;
    top: 0;
  }
  header #hd_up {
    height: 34rem;
    padding: 0 20rem;
    background-color: #0069aa;
  }
  header #hd_up .hd_up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #eee;
    height: 100%;
  }
  header #hd_up .hd_up .hamberger {
    display: none;
  }
  header #hd_up .hd_up ul {
    display: flex;
    justify-content: space-between;
  }
  header #hd_up .hd_up ul li {
    margin-right: 15rem;
  }
  header #hd_up .hd_up form {
    display: flex;
  }
  header #hd_up .hd_up form select {
    font-size: 20rem;
    cursor: pointer;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #eee;
  }
  header #hd_up .hd_up form select option {
    background-color: #0069aa;
    text-align: center;
  }
  header #hd_down {
    background-color: #002f59;
    padding: 3rem 20rem;
    height: 80rem;
  }
  header #hd_down .hd_down {
    display: flex;
    justify-content: space-around;
  }
  header #hd_down section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  header #hd_down section article:nth-of-type(2) {
    margin-left: 1rem;
    width: 75%;
  }
  header #hd_down section article:nth-of-type(2) ul {
    display: flex;
    justify-content: left;
    font-size: 20rem;
    margin-left: 80rem;
  }
  header #hd_down section article:nth-of-type(2) ul li {
    margin-right: 80rem;
  }
  header #hd_down section article .desktop {
    display: block;
  }
  header #hd_down section article .mobile {
    display: none;
  }
  header #hd_down section article h1 img {
    display: flex;
  }
  header #hd_down section article ul {
    display: flex;
  }
  header #hd_down section article ul li {
    margin-right: 20rem;
  }

  #banner .ban_flex {
    padding-top: 250rem;
  }
  #banner .ban_flex #bn_vedio {
    border: solid 1px #fefefe;
  }
  #banner .ban_flex #bn_vedio video {
    border-radius: 5px;
  }
  #banner .ban_flex .ban_border {
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -51%);
    z-index: 2;
    border: solid 1px #fefefe;
    width: 95%;
    height: 105%;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .title {
    line-height: 80rem;
  }
  .title h3 {
    font-size: 50rem;
  }
  .title h2 {
    font-size: 80em;
  }

  #cont1 {
    padding-top: 300rem;
  }
  #cont1 .slider .controller {
    width: 1280rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #cont1 .slider .engel_svg {
    top: -23%;
    right: 10%;
  }
  @keyframes engel_svg {
    0% {
      top: -23%;
    }
    25% {
      top: -25%;
    }
    50% {
      top: -23%;
    }
    75% {
      top: -25%;
    }
    100% {
      top: -23%;
    }
  }

  #cont2 .tab_button ul {
    width: 100%;
  }
  #cont2 .tab_button ul li button {
    font-size: 20rem;
    padding: 10rem 20rem;
    width: 200rem;
  }
  #cont2 .tab_cont .tab_icon {
    width: 20%;
    margin: 0 auto;
  }
  #cont2 .tab_cont .tab_icon ul {
    align-items: center;
    width: 100%;
  }
  #cont2 .tab_cont .tab_icon ul li {
    width: 120rem;
    height: 120rem;
    padding: 5rem;
    margin: 15rem;
  }
  #cont2 .tab_cont .menu_characters {
    width: 40%;
  }
  #cont2 .menu_text {
    width: 30%;
    font-size: 20rem;
  }
  #cont2 .menu_text ul li h5 {
    font-size: 25rem;
  }
  #cont2 .menu_text ul li h4 {
    font-size: 35rem;
    margin: 20rem 0 30rem;
  }
  #cont2 .menu_text ul li p {
    margin-top: 40rem;
  }

  #cont3 .light {
    height: 1800rem;
  }
  #cont3 .light img {
    height: 100%;
  }
  #cont3 .container {
    margin-top: 500rem;
  }
  #cont3 .cont3_ch {
    margin-top: 100rem;
    width: 1280rem;
  }
  #cont3 .cont3_ch .shadow span:nth-child(2) {
    margin-left: -250rem;
  }
  #cont3 .cont3_ch .shadow span:nth-child(4) {
    margin-right: -210rem;
  }

  #cont4 {
    margin-top: 200rem;
  }
  #cont4 .media {
    max-width: 1440rem;
  }
  #cont4 .media li {
    width: 33.33%;
    height: 100%;
  }
  #cont4 .media li .box {
    height: 300rem;
    border: solid 2px #333;
  }
  #cont4 .media li p {
    font-size: 20rem;
    color: #3290D6;
  }
}
@media (max-width: 1024px) {
  html header #hd_up .hd_up .hamberger.ham_active span {
    transition: margin 0.25s, transform 0.25s 0.25s;
    box-shadow: 0px 0px 0px 0px;
  }
  html header #hd_up .hd_up .hamberger.ham_active .bar1 {
    transform: rotate(45deg);
  }
  html header #hd_up .hd_up .hamberger.ham_active .bar2 {
    transform: rotate(45deg);
  }
  html header #hd_up .hd_up .hamberger.ham_active .bar3 {
    transform: rotate(135deg);
  }
  html header #hd_down.hd_down_active {
    right: 0%;
  }
  html #section_back {
    margin-top: -60rem;
  }
  html header {
    position: relative;
  }
  html header #hd_up {
    position: absolute;
    width: 100%;
    top: 0;
  }
  html header #hd_up .container {
    width: 100%;
    display: inline-block;
  }
  html header #hd_up .hd_up li {
    margin: 30rem 10rem 0;
    color: #fefefe;
    font-size: 20rem;
  }
  html header #hd_up .hd_up:first-of-type {
    display: flex;
    justify-content: end;
  }
  html header #hd_up .hd_up .hamberger {
    display: block;
    position: fixed;
    cursor: pointer;
    z-index: 31;
  }
  html header #hd_up .hd_up .hamberger span {
    width: 100%;
    display: block;
    background: #fff;
    transition: margin 0.25s 0.25s, transform 0.25s;
    box-shadow: 3rem 3rem 5rem #333;
  }
  html header #hd_down {
    position: fixed;
    top: 0;
    transition: 0.5s;
    right: -100%;
    background-color: rgba(0, 47, 89, 0.95);
    z-index: 30;
    width: 100%;
    height: 100%;
  }
  html header #hd_down .hd_down {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  html header #hd_down .hd_down article {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  html header #hd_down .hd_down:first-of-type h1 {
    margin-bottom: 60rem;
  }
  html header #hd_down .hd_down .nav_menu {
    font-size: 50rem;
  }
  html header #hd_down .hd_down .nav_menu ul {
    flex-direction: column;
    align-items: center;
  }
  html header #hd_down .hd_down .nav_menu ul:after {
    content: "";
    display: inline-block;
    background-color: #585858;
    margin: 30rem 0;
    width: 500rem;
    height: 4rem;
  }
  html header #hd_down .hd_down ul {
    display: flex;
    justify-content: center;
  }
  html header #hd_down .hd_down .nav_right {
    color: #6a95bd;
  }
  html header #hd_down .hd_down .nav_right li {
    margin: 0 10rem 80rem;
  }
  html header #hd_down .hd_down .nav_right li a {
    color: #aaaaaa;
  }
  html header #hd_down .hd_down .nav_right li a:hover {
    color: #6a95bd;
  }
  html header #hd_down .hd_down .ham_link {
    bottom: 10rem;
    display: flex;
    justify-content: center;
  }
  html #banner {
    width: 100%;
  }
  html #banner .container .ban_flex .banner {
    position: relative;
    width: 100%;
  }
  html #banner .container .ban_flex .banner .ban_media .ban_border {
    border: none;
  }
  html #banner .container .ban_flex .banner .media_logo {
    position: absolute;
    display: flex;
    justify-content: start;
    top: 0%;
    left: 0%;
    width: 100%;
  }
  html #banner .container .ban_flex .banner .media_logo li {
    margin: 20rem;
    width: 20%;
  }
  html #banner .container .ban_flex .banner .characters {
    bottom: -120rem;
    left: 100rem;
  }
  html #banner .container .ban_flex .banner .characters .character1 {
    width: 100rem;
  }
  html #banner .container .ban_flex .banner .characters .character2 {
    width: 120rem;
    margin: 40rem 0 0 -10rem;
  }
  html #banner .container .ban_flex .banner .characters .character3 {
    width: 140rem;
    margin: 50rem 0 0 -20rem;
    transform: rotate(-13deg);
  }
  html #cont1 {
    padding-top: 300rem;
  }
  html #cont1 .slider .controller {
    width: 200rem;
    bottom: 3%;
    right: 3%;
  }
  html #cont1 .slider .engel_svg {
    top: -23%;
    right: 2%;
  }
  @keyframes engel_svg {
    0% {
      top: -29%;
    }
    25% {
      top: -27%;
    }
    50% {
      top: -25%;
    }
    75% {
      top: -27%;
    }
    100% {
      top: -29%;
    }
  }
  html #cont3 .container {
    margin-top: 300rem;
  }
  html #cont3 .cont3_ch {
    margin-top: 50rem;
    width: 90%;
  }
  html #cont3 .cont3_ch .light {
    height: 85%;
  }
  html #cont3 .cont3_ch .shadow span:nth-child(2) {
    margin-left: -250rem;
  }
  html #cont3 .cont3_ch .shadow span:nth-child(4) {
    margin-right: -250rem;
  }
  html #cont4 .box {
    height: 200rem;
    border: solid 1px #cacaca;
  }
  html #cont4 p {
    color: #efefef;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  html header #hd_up .hd_up .hamberger.ham_active .bar1 {
    margin-bottom: -5px;
  }
  html header #hd_up .hd_up .hamberger.ham_active .bar3 {
    margin-top: -5px;
  }
  html header .nav_right {
    font-size: 30rem;
  }
  html .hamberger {
    width: 70rem;
    height: 45rem;
    right: 4%;
    top: 4%;
  }
  html .hamberger span {
    width: 100%;
    height: 6rem;
    border-radius: 5px;
  }
  html .hamberger .bar1 {
    margin-top: 20rem;
    margin-bottom: 10rem;
  }
  html .hamberger .bar3 {
    margin-top: 10rem;
  }
  html #hd_down article:first-of-type h1 {
    width: 40%;
  }
  html #hd_down .ham_link li {
    width: 20%;
    margin: 0 10rem;
  }
  html .title {
    line-height: 60rem;
  }
  html .title h3 {
    font-size: 30rem;
  }
  html .title h2 {
    font-size: 60em;
  }
  html #cont2 .tab_button ul {
    width: 100%;
  }
  html #cont2 .tab_button ul li button {
    font-size: 20rem;
    padding: 10rem 20rem;
    width: 200rem;
  }
  html #cont2 .tab_cont .tab_icon {
    width: 20%;
    margin: 0 auto;
  }
  html #cont2 .tab_cont .tab_icon ul {
    align-items: center;
    width: 100%;
  }
  html #cont2 .tab_cont .tab_icon ul li {
    width: 120rem;
    height: 120rem;
    padding: 5rem;
    margin: 15rem;
  }
  html #cont2 .tab_cont .menu_characters {
    width: 40%;
  }
  html #cont2 .menu_text {
    width: 30%;
    font-size: 20rem;
  }
  html #cont2 .menu_text ul li h5 {
    font-size: 25rem;
  }
  html #cont2 .menu_text ul li h4 {
    font-size: 35rem;
    margin: 20rem 0 30rem;
  }
  html #cont2 .menu_text ul li p {
    margin-top: 40rem;
  }
  html #cont3 .container {
    margin-top: 300rem;
  }
  html #cont3 .light {
    height: 85%;
  }
  html #cont4 .media ul li {
    width: 33.33%;
  }
  html #cont4 .media ul li p {
    font-size: 20rem;
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  html #cont2 .tab_cont {
    max-width: 767px;
    flex-wrap: wrap;
  }
  html #cont2 .tab_cont .tab_icon {
    width: 15%;
    margin-left: 5%;
  }
  html #cont2 .tab_cont .tab_icon ul {
    width: 50%;
  }
  html #cont2 .tab_cont .tab_icon ul li {
    width: 170rem;
    height: 170rem;
    padding: 5rem;
    margin: 15rem;
  }
  html #cont2 .tab_cont .menu_characters {
    width: 60%;
    margin: 0 auto;
  }
  html #cont2 .menu_text {
    width: 100%;
    font-size: 30rem;
  }
  html #cont2 .menu_text ul li h5 {
    font-size: 30rem;
  }
  html #cont2 .menu_text ul li h5:first-child {
    display: none;
  }
  html #cont2 .menu_text ul li h4 {
    font-size: 40rem;
    margin: 0rem 0 10rem;
  }
  html #cont2 .menu_text ul li p {
    margin-top: 30rem;
  }
  html #cont4 .box {
    height: 300rem;
  }
  html #cont4 p {
    font-size: 30rem;
  }
}
@media (max-width: 1024px) and (max-width: 767px) and (min-width: 450px) {
  html header #hd_up .hd_up .hamberger.ham_active .bar1 {
    margin-top: 16rem;
    margin-bottom: -8rem;
  }
  html header #hd_up .hd_up .hamberger.ham_active .bar3 {
    margin-top: -8rem;
  }

  .hamberger {
    width: 70rem;
    height: 45rem;
    right: 4%;
    top: 3%;
  }
  .hamberger span {
    height: 8rem;
    border-radius: 5px;
  }
  .hamberger .bar1 {
    margin-bottom: 8rem;
  }
  .hamberger .bar3 {
    margin-top: 8rem;
  }

  #hd_down article:first-of-type h1 {
    width: 80%;
  }
  #hd_down .nav_right {
    font-size: 40rem;
  }
  #hd_down .ham_link li {
    width: 28%;
    margin: 0 10rem;
  }

  .title {
    line-height: 60rem;
  }
  .title h3 {
    font-size: 35rem;
  }
  .title h2 {
    font-size: 60em;
  }

  #cont2 .tab_button ul {
    max-width: 767px;
  }
  #cont2 .tab_button ul li button {
    font-size: 20px;
    padding: 10px 10rem;
    margin: 10px 3rem;
    width: 150px;
  }

  #cont4 .media {
    max-width: 767px;
  }
  #cont4 .media ul li {
    width: 50%;
    height: 100%;
  }
}
@media (max-width: 1024px) and (max-width: 767px) and (max-width: 449px) and (min-width: 0px) {
  html header #hd_up .hd_up .hamberger.ham_active .bar1 {
    margin-top: 16rem;
    margin-bottom: -8rem;
  }
  html header #hd_up .hd_up .hamberger.ham_active .bar3 {
    margin-top: -8rem;
  }

  .hamberger {
    width: 100rem;
    right: 4%;
    top: 2%;
  }
  .hamberger span {
    width: 100%;
    height: 10rem;
    border-radius: 4px;
  }
  .hamberger .bar1 {
    margin-bottom: 12rem;
  }
  .hamberger .bar3 {
    margin-top: 12rem;
  }

  #hd_down article:first-of-type h1 {
    width: 80%;
  }
  #hd_down .nav_right {
    font-size: 40rem;
  }
  #hd_down .ham_link li {
    width: 30%;
    margin: 0 10rem;
  }

  .title {
    line-height: 100rem;
  }
  .title h3 {
    font-size: 50rem;
  }
  .title h2 {
    font-size: 100em;
  }

  #cont2 .tab_button ul {
    max-width: 449px;
  }
  #cont2 .tab_button ul li button {
    font-size: 10px;
    padding: 5px 10rem;
    margin: 3px 3rem;
    width: 200rem;
  }

  #cont4 {
    margin-top: 200rem;
  }
  #cont4 .media {
    max-width: 360px;
  }
  #cont4 .media ul li {
    width: 85%;
  }
  #cont4 .media ul li .box {
    height: 350rem;
  }
  #cont4 .media ul li p {
    font-size: 40rem;
  }
}
@media (max-height: 823px) {
  #cont3 .light {
    height: 100%;
  }
}
@media (max-height: 740px) {
  #cont3 .light {
    height: 100%;
  }
}
@media (max-height: 720px) {
  #cont3 .light {
    height: 85%;
  }
}
@media (max-height: 667px) {
  #cont3 .light {
    height: 100%;
  }
}
@media (max-height: 653px) {
  #cont3 .light {
    height: 118%;
  }
}
@media (max-height: 640px) {
  #cont3 .light {
    height: 100%;
  }
}
@media (max-height: 600px) {
  #cont3 .light {
    height: 85%;
  }
}
@media (max-height: 568px) {
  #cont3 .light {
    height: 110%;
  }
}

main .ban_movie {
  position: absolute;
  z-index: -1;
  width: 100%;
}
main .ban_movie #bg_vedio {
  filter: blur(5px);
  filter: brightness(0.3);
}
main .ban_flex {
  display: flex;
  justify-content: center;
}
main .ban_flex .banner {
  position: relative;
}
main .ban_flex .banner .ban_media {
  width: 100%;
}
main .ban_flex .banner .banner_link {
  display: flex;
}
main .ban_flex .banner ul:last-of-type {
  position: absolute;
  display: flex;
  z-index: 2;
  margin: -70rem 0 0 -80rem;
  transform: rotate(5deg);
}
main .ban_flex .banner ul .character1 {
  width: 120rem;
}
main .ban_flex .banner ul .character2 {
  width: 140rem;
}
main .ban_flex .banner ul .character3 {
  width: 160rem;
  margin-left: -20rem;
  transform: rotate(-13deg);
}

.title {
  font-family: "cookie_Regular";
  color: #fefefe;
}
.title h2 {
  font-weight: 500;
}

.animated {
  transition: 0.5s ease-out;
}

#cont1 {
  text-align: center;
}
#cont1 .slider {
  position: relative;
  width: auto;
}
#cont1 .slider .slider_back {
  margin: 200rem auto;
  background-color: #3290D6;
  border-radius: 5px;
  padding: 30rem;
  max-width: 940rem;
  height: 650rem;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
}
#cont1 .slider .slider_back .slide_box {
  width: 920rem;
  height: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
#cont1 .slider .slider_back .slide_box .slide_list {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
}
#cont1 .slider .slider_back .slide_box .slide_list .sl_img {
  width: 921.6rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#cont1 .slider .slider_back .slide_box .slide_list .sl_img img {
  border-radius: 5px;
  width: 100%;
  height: 90%;
}
#cont1 .slider .slider_back .slide_box .slide_list .sl_img .sl_text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: left;
  color: #fefefe;
  height: 20%;
}
#cont1 .slider .slider_back .slide_box .slide_list .sl_img .sl_text p {
  font-size: 26rem;
}
#cont1 .slider .slider_back .slide_box .slide_list .sl_img .sl_text span {
  font-size: 30rem;
  font-weight: bold;
}
#cont1 .slider .controller {
  position: absolute;
  display: flex;
  justify-content: space-between;
}
#cont1 .slider .controller button {
  background-color: transparent;
}
#cont1 .slider .controller button svg {
  width: 90rem;
}
#cont1 .slider .controller button svg:nth-child(2) {
  display: none;
}
#cont1 .slider .controller button:hover svg:nth-child(1) {
  display: none;
}
#cont1 .slider .controller button:hover svg:nth-child(2) {
  display: block;
}
#cont1 .slider .controller button svg:nth-child(2) {
  display: none;
}
#cont1 .slider .controller button:hover svg:nth-child(1) {
  display: none;
}
#cont1 .slider .controller button:hover svg:nth-child(2) {
  display: block;
}
#cont1 .slider .engel_svg {
  position: absolute;
  z-index: 28;
  width: 250rem;
  transform: rotate(-5deg);
  transform: translate(0 20%);
  animation: engel_svg 2.5s 0s infinite linear;
}

#cont2 {
  text-align: center;
  margin-top: 300rem;
}
#cont2 button {
  background: none;
}
#cont2 .tab_button {
  margin-top: 150rem;
}
#cont2 .tab_button ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#cont2 .tab_button ul li {
  margin: 0 5rem;
}
#cont2 .tab_button ul li button {
  color: #fefefe;
  background-color: #002f59;
  box-shadow: 1px 1px 2px 1.5px #bee0ff;
  border-radius: 5px;
}
#cont2 .tab_button ul li:hover button {
  background: #0069aa;
  color: #fefefe;
}
#cont2 .tab_button ul li button.tabBtn_active {
  background: #0069aa;
}
#cont2 .tab_cont .tab_icon .tabIcon_active {
  background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #7fddff 20%, #3a2aff 100%);
}
#cont2 .tab_cont {
  display: flex;
  align-items: center;
  margin-top: 100rem;
}
#cont2 .tab_cont .tab_icon ul {
  display: flex;
  flex-direction: column;
}
#cont2 .tab_cont .tab_icon ul li {
  border: 3rem solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#fefefe, #fefefe), linear-gradient(to right, #54abff 20%, #00073f 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
#cont2 .tab_cont .tab_icon ul li:hover {
  background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #7fddff 20%, #3a2aff 100%);
}
#cont2 .tab_cont .tab_icon ul li button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cont2 .tab_cont .tab_icon ul li button svg {
  width: 100%;
}
#cont2 .tab_cont .tab_icon ul li img {
  width: 100%;
}
#cont2 .tab_cont .menu_characters .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cont2 .tab_cont .menu_characters .menu .menu_Back {
  width: 100%;
}
#cont2 .tab_cont .menu_characters .menu ul {
  position: absolute;
  top: 15%;
  left: -5%;
  width: 100%;
}
#cont2 .tab_cont .menu_characters .menu ul li {
  position: relative;
  width: 120%;
}
#cont2 .tab_cont .menu_characters .menu ul li img {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
#cont2 .tab_cont .menu_characters .menu ul li:first-of-type {
  display: block;
}
#cont2 .tab_cont .menu_text {
  padding: 60rem;
}
#cont2 .tab_cont .menu_text ul li {
  text-align: left;
  width: 100%;
  color: #fefefe;
}
#cont2 .tab_cont .menu_text ul li p {
  white-space: pre-line;
  color: #d2e4ff;
}
#cont2 .tab_cont .menu_text ul li:first-of-type {
  display: block;
}

#cont3 {
  height: 1800rem;
  position: relative;
  padding: 0 10rem;
}
#cont3 .light {
  position: absolute;
  top: -8%;
  right: 0;
  z-index: 0;
}
#cont3 .light img {
  width: 100%;
  height: 100%;
}
#cont3 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cont3 .container ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#cont3 .container .story {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 180rem;
  color: #dfdfdf;
  font-size: 20rem;
}
#cont3 .container .cont3_ch {
  position: relative;
}
#cont3 .container .cont3_ch .cont3_charac img {
  position: absolute;
  animation: ct3_ch 5s 0s infinite linear;
}
@keyframes ct3_ch {
  0% {
    margin-top: 0%;
  }
  25% {
    margin-top: -1.5%;
  }
  50% {
    margin-top: -3%;
  }
  75% {
    margin-top: -1.5%;
  }
  100% {
    margin-top: 0%;
  }
}
#cont3 .container .cont3_ch .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate(0%, 0%);
  margin-top: 43%;
  display: flex;
  justify-content: space-around;
}
#cont3 .container .cont3_ch .shadow span {
  width: 300rem;
  height: 25rem;
  border-radius: 50%;
  background-color: #6a95bd;
  animation: size 5s 0s infinite linear;
}
@keyframes size {
  0% {
    transform: scale(0.8, 0.8);
    transform-origin: center;
    opacity: 0.4;
  }
  50% {
    transform: scale(0.5, 0.5);
    transform-origin: center;
    opacity: 0.2;
  }
  100% {
    transform: scale(0.8, 0.8);
    transform-origin: center;
    opacity: 0.3;
  }
}
#cont3 .container .cont3_ch .shadow span:nth-child(1) {
  margin-top: -110rem;
  margin-left: -50rem;
}
#cont3 .container .cont3_ch .shadow span:nth-child(2) {
  margin-top: -50rem;
}
#cont3 .container .cont3_ch .shadow span:nth-child(3) {
  position: absolute;
  margin-top: 0px;
}
#cont3 .container .cont3_ch .shadow span:nth-child(4) {
  margin-top: -50rem;
}
#cont3 .container .cont3_ch .shadow span:nth-child(5) {
  margin-top: -110rem;
  margin-right: -50rem;
}

#cont4 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#cont4 .container .media {
  margin-top: 150rem;
}
#cont4 .container .media ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#cont4 .container .media ul li {
  box-sizing: border-box;
  margin: 20rem 0;
  padding: 0 10rem;
}
#cont4 .container .media ul li .box {
  border-radius: 5px;
  overflow: hidden;
  padding: 0;
}
#cont4 .container .media ul li .box:hover ~ p {
  color: #fefefe;
}
#cont4 .container .media ul li .box iframe {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
#cont4 .container .media ul li .box iframe:hover {
  transform: scale(105%);
}
#cont4 .container .media ul li p {
  margin-top: 20rem;
}
#cont4 .container .more {
  margin: 150rem 0 120rem 0;
}
#cont4 .container .more button {
  border: solid 2px #0069aa;
  border-radius: 5px;
}
#cont4 .container .more button a {
  display: block;
  color: #0069aa;
  padding: 2rem;
  width: 200rem;
  font-size: 30rem;
}
#cont4 .container .more button:hover {
  background-color: #0069aa;
  border: solid 2px #fefefe;
}
#cont4 .container .more button:hover a {
  color: #fefefe;
}

footer {
  padding: 55rem 0;
  text-align: center;
  background-color: #002f59;
  color: #d3d3d3;
}
footer .sns {
  display: flex;
  justify-content: center;
}
footer .sns li {
  margin: 10rem 5rem 30rem 5rem;
  width: 90rem;
  cursor: pointer;
}
footer .sns li img {
  width: 100%;
}
footer .foot_box {
  display: flex;
  justify-content: center;
}
footer .foot_box li {
  border: solid 1px #d3d3d3;
  border-radius: 3px;
  padding: 8rem 20rem;
  margin: 0 10rem;
  font-size: 15rem;
  cursor: pointer;
}
footer .foot_text {
  font-size: 15rem;
  margin-top: 30rem;
}
footer .foot_text .ft_text_center {
  display: flex;
  justify-content: center;
}
footer .foot_text .ft_text_center p {
  padding: 0 10rem;
}
footer .foot_bottom {
  padding: 20rem 0 0 0;
}
footer .foot_bottom p {
  color: #fefefe;
  font-size: 30rem;
  cursor: pointer;
}