@charset "utf-8";
//전체 html background color
#section_back {
    background: linear-gradient(to bottom, #7fddff, #00073f);
}

//세로 스크롤바
::-webkit-scrollbar {
    width: 18rem;
  }
  
::-webkit-scrollbar-track {
background-color: #002f59;
}

::-webkit-scrollbar-thumb {
background-color: #0069aa;
border-radius: 30rem;
}

::-webkit-scrollbar-button {
display: none;
}
  
//header
@media (min-width : 1025px){ // 데스크탑 1025px~
    
    #section_back {
        margin-top: -100rem; // main 과 #cont1_배경 겹치게
    }
    header{
        position: fixed;
        width: 100vw;
        z-index: 30;
        font-size: 20rem;
        top: 0;

        #hd_up{
            height: 34rem;
            padding: 0 20rem;
            background-color: #0069aa;

            .hd_up{
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #eee;
                height: 100%;
                .hamberger{
                    display: none;
                }
                ul{
                    display: flex;
                    justify-content: space-between;

                    li{
                        margin-right: 15rem;

                    }
                }
                form{
                    display: flex;
                    select{
                        font-size: 20rem;
                        cursor: pointer;
                        padding: 0;
                        margin: 0;
                        background-color: rgba(0,0,0,0);
                        border: none;
                        color: #eee;

                        option{
                            background-color: #0069aa;
                            text-align: center;
                        }
                    }
                }
            }
        }
        #hd_down{
            background-color: #002f59;
            padding: 3rem 20rem;
            height: 80rem;

            .hd_down{
                display: flex;
                justify-content: space-around;
            }

            section{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;

                article{

                    &:nth-of-type(2){
                        margin-left: 1rem;
                        width: 75%;
                        
                        ul{
                            display: flex;
                            justify-content: left;
                            font-size: 20rem;
                            margin-left: 80rem;

                            li{
                                margin-right: 80rem;
                            }
                        }
                    }
                    .desktop{
                        display: block;
                    }
                    .mobile{
                        display: none;
                    }
                    h1{
                        img{
                            display: flex;
                        }
                    }
                    ul{
                        display: flex;
                        li{
                            margin-right: 20rem;
                        }
                    }
                }
            }
        }
    }
    #banner{
        
        .ban_flex{
            padding-top: 250rem;
            
            #bn_vedio{
                border: solid 1px #fefefe;

                video{
                    border-radius: 5px;
                }
            }
            .ban_border{
                border-radius: 5px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -51%);
                z-index: 2;
                border: solid 1px #fefefe;
                width: 95%;
                height: 105%;
                box-sizing: border-box;
                margin: 0 auto;
            }
        }
    }
    
    .title{
        line-height: 80rem;

        h3{ font-size: 50rem;}
        h2{ font-size: 80em;}
    }
    #cont1{ //UPDATE
        padding-top: 300rem;
    
        .slider{
            .controller {
                width: 1280rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
    
            .engel_svg{
                top: -23%;
                right: 10%;
    
                @keyframes engel_svg {
                    0% { top: -23%; }
                    25% { top: -25%; }
                    50% { top: -23%; }
                    75% { top: -25%; }
                    100% { top: -23%; }
        
                }
            }
        }
    }
    #cont2{
        .tab_button{
            ul{
                width: 100%;
                li{

                    button{
                        font-size: 20rem;
                        padding: 10rem 20rem;
                        width: 200rem;

                    }
                }
            }
        }
        .tab_cont{
            .tab_icon{
                width: 20%;
                margin: 0 auto;
                ul{
                    align-items: center;
                    width: 100%;
                    li{
                        width: 120rem;
                        height: 120rem;
                        padding: 5rem;
                        margin: 15rem;
                    }
                }
            }
            .menu_characters{
                width: 40%;
            }
        }
        .menu_text{
            width: 30%;
            font-size: 20rem;
            ul{
                li{
                    h5{
                        font-size: 25rem;
                    }
                    h4{
                        font-size: 35rem;
                        margin: 20rem 0 30rem;
                    }
                    p{
                        margin-top: 40rem;
                    }
                }
            }
            
        }
    }
    #cont3{
        .light{
            height: 1800rem;
            img{
                height: 100%;
            }
        }
        .container{
            margin-top: 500rem;
        }
        .cont3_ch{
            margin-top: 100rem;
            width: 1280rem;
            .shadow{
                span:nth-child(2){
                    margin-left: -250rem;
                }
                span:nth-child(4){
                    margin-right: -210rem;
                }
            }
        }
    }
    #cont4{
        margin-top: 200rem;
        .media{
            max-width: 1440rem;
            li{
                width: 33.33%;
                height: 100%;
                .box{
                    height: 300rem;
                    border: solid 2px #333;
                }
                p{
                    font-size: 20rem;
                    color: #3290D6;
                }
            }
        }
    }
}

@media (max-width:1024px){ // 모바일, 태블릿 0 ~ 1024px
    html{
        //여기부터
        //active
        header{
            #hd_up{
                .hd_up{
                    .hamberger.ham_active{
                        span{
                            transition: margin 0.25s, transform 0.25s 0.25s;
                            box-shadow: 0px 0px 0px 0px;
                        }
                        .bar1 {
                            transform: rotate(45deg);
                        }
                        .bar2 {
                            transform: rotate(45deg);
                        }
                        .bar3 {
                            transform: rotate(135deg);
                        }
                    }
                }
            }
            #hd_down.hd_down_active{
                right: 0%;
            }
        }
        
        #section_back{margin-top: -60rem;} // main 과 #cont1_배경 겹치게
        header{
            position: relative;
            #hd_up{
                position: absolute;
                width: 100%;
                top: 0;
                .container{
                    width: 100%;
                    display: inline-block;
                }
                .hd_up{
                    li{
                        margin: 30rem 10rem 0 ;
                        color: #fefefe;
                        font-size: 20rem;
                    }
                    &:first-of-type{
                        display: flex;
                        justify-content: end;
                    }           
                    .hamberger{
                        display: block;
                        position: fixed;
                        cursor: pointer;
                        z-index: 31;
                        span{
                            width: 100%;
                            display: block;
                            background: #fff;
                            transition: margin 0.25s 0.25s, transform 0.25s;
                            box-shadow: 3rem 3rem 5rem #333;
                        }
                    }
                }
            }
            #hd_down{
                position: fixed;
                top: 0;
                transition: 0.5s;
                right: -100%;
                background-color: rgba(0,47,89, 0.95);
                z-index: 30;
                width: 100%;
                height: 100%;
                
                .hd_down{
                    width: 100vw;
                    height: 100vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    article{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }
                    &:first-of-type{
                        h1{
                            margin-bottom: 60rem;
                        }
                    }
                    .nav_menu{
                        font-size: 50rem;
                        ul{
                            flex-direction: column;
                            align-items: center;
                        }
                        ul:after{
                            content: '';
                            display: inline-block;
                            background-color: rgb(88, 88, 88);
                            margin: 30rem 0;
                            width: 500rem;
                            height: 4rem;
                        }
                    }
                    ul{
                        display: flex;
                        justify-content: center;
                    }
                    .nav_right{
                        color: #6a95bd;
                        li{
                            margin: 0 10rem 80rem;
                            a{

                                color: #aaaaaa;
                                &:hover{
                                    color:#6a95bd;
                                }
                            }
                        }
                    }
                    .ham_link{
                        bottom: 10rem;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
        #banner{
            width: 100%;
            .container{
                .ban_flex{
                    .banner{
                        position: relative;
                        width: 100%;
                        .ban_media{
                            #bn_vedio{
                            }
                            
                            .ban_border{
                                border: none;
                            }
                        }
                        .media_logo{
                            position: absolute;
                            display: flex;
                            justify-content: start;
                            top: 0%;
                            left: 0%;
                            width: 100%;
                            li{
                                margin: 20rem;
                                width: 20%;
                            }
                        }
                        .characters{
                            bottom: -120rem;
                            left: 100rem;
                            .character1{
                                width: 100rem;

                            }
                            .character2{
                                width: 120rem;
                                margin: 40rem 0 0 -10rem;

                            }
                            .character3{
                                width: 140rem;
                                margin: 50rem 0 0 -20rem;
                                transform: rotate(-13deg);

                            }
                        }
                    }
                }
            }
        }

        #cont1{ //UPDATE
            padding-top: 300rem;
            .slider{
                .controller {
                    width: 200rem;
                    bottom: 3%;
                    right: 3%;
                }

                .engel_svg{
                    top: -23%;
                    right: 2%;

                    @keyframes engel_svg {
                        0% { top: -29%; }
                        25% { top: -27%; }
                        50% { top: -25%; }
                        75% { top: -27%; }
                        100% { top: -29%; }
            
                    }

                }
            }
        }
        #cont3{
            .container{
                margin-top: 300rem;
            }
            .cont3_ch{
                margin-top: 50rem;
                width: 90%;
                .light{
                    height: 85%;
                }
                .shadow{
                    span:nth-child(2){
                        margin-left: -250rem;
                    }
                    span:nth-child(4){
                        margin-right: -250rem;
                    }
                }
            }
        }
        #cont4{
            .box{
                height: 200rem;
                border: solid 1px rgb(202, 202, 202);
            }
            p{
                color: #efefef;
            }
        }
    }
    @media (min-width:768px){ // 태블릿, 데스크탑 768px ~ 1024px
        html{
            header{
                #hd_up{
                    .hd_up{
                        .hamberger.ham_active{
                            .bar1 {
                                margin-bottom: -5px;
                            }
                            .bar3 {
                                margin-top: -5px;
                            }
                        }
                    }
                }
                .nav_right{
                    font-size: 30rem;
                }
            }
            .hamberger{
                width: 70rem;
                height: 45rem;
                right: 4%;
                top: 4%;
                span{
                    width: 100%;
                    height: 6rem;
                    border-radius: 5px;
                }
                .bar1{
                    margin-top: 20rem;
                    margin-bottom: 10rem;
                }
                .bar3{margin-top: 10rem;}
            }
            #hd_down{
                article{
                    &:first-of-type{
                        h1{
                            width: 40%;
                        }
                    }
                }
                .ham_link{
                    li{
                        width: 20%;
                        margin: 0 10rem;
                    }
                }
            }
            .title{
                line-height: 60rem;

                h3{ font-size: 30rem;}
                h2{ font-size: 60em;}
            }
            #cont2{ 
                .tab_button{
                    ul{
                        width: 100%;
                        li{

                            button{
                                font-size: 20rem;
                                padding: 10rem 20rem;
                                width: 200rem;

                            }
                        }
                    }
                }
                .tab_cont{
                    .tab_icon{
                        width: 20%;
                        margin: 0 auto;
                        ul{
                            align-items: center;
                            width: 100%;
                            li{
                                width: 120rem;
                                height: 120rem;
                                padding: 5rem;
                                margin: 15rem;
                            }
                        }
                    }
                    .menu_characters{
                        width: 40%;
                    }
                }
                .menu_text{
                    width: 30%;
                    font-size: 20rem;
                    ul{
                        li{
                            h5{
                                font-size: 25rem;
                            }
                            h4{
                                font-size: 35rem;
                                margin: 20rem 0 30rem;
                            }
                            p{
                                margin-top: 40rem;
                            }
                        }
                    }
                    
                }
            }
            #cont3{
                .container{
                    margin-top: 300rem;
                }
                .light{
                    height: 85%;
                }
            }
            #cont4{
                .media{
                    ul{
                        li{
                            width: 33.33%;
                            p{
                                font-size: 20rem;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width:767px){ // 모바일 0 ~ 767px
        html{
            #cont2{
                .tab_cont{
                    max-width: 767px;
                    flex-wrap: wrap;
                    .tab_icon{
                        width: 15%;
                        margin-left: 5%;
                        ul{
                            width: 50%;

                            li{
                                width: 170rem;
                                height: 170rem;
                                padding: 5rem;
                                margin: 15rem;
                            }
                        }
                    }
                    .menu_characters{
                        width: 60%;
                        margin: 0 auto;
                    }
                }
                .menu_text{
                    width: 100%;
                    font-size: 30rem;
                    ul{
                        li{
                            h5{
                                font-size: 30rem;
                                &:first-child{
                                    display: none;
                                }
                            }
                            h4{
                                font-size: 40rem;
                                margin: 0rem 0 10rem;
                            }
                            p{
                                margin-top: 30rem;
                            }
                        }
                    }
                    
                }
            }
            #cont4{
                .box{
                    height: 300rem;
                }
                p{
                    font-size: 30rem;
                }
            }
        }
            @media (min-width:450px){ // 모바일 450px ~  767px
                html{
                    header{
                        #hd_up{
                            .hd_up{
                                .hamberger.ham_active{
                                    .bar1 {
                                        margin-top: 16rem;
                                        margin-bottom: -8rem;
                                    }
                                    .bar3 {
                                        margin-top: -8rem;
                                    }
                                }
                            }
                        }
                    }
                }
                .hamberger{
                    width: 70rem;
                    height: 45rem;
                    right: 4%;
                    top: 3%;
                    span{
                        height: 8rem;
                        border-radius: 5px;
                    }
                    .bar1{margin-bottom: 8rem;}
                    .bar3{margin-top: 8rem;}
                }
                #hd_down{
                    article{
                        &:first-of-type{
                            h1{
                                width: 80%;
                            }
                        }
                    }
                    .nav_right{
                        font-size: 40rem;
                    }
                    .ham_link{
                        li{
                            width: 28%;
                            margin: 0 10rem;
                        }
                    }
                }
                .title{
                    line-height: 60rem;
                    
                    h3{ font-size: 35rem;}
                    h2{ font-size: 60em;}
                }
                #cont2{
                    .tab_button{
                        ul{
                            max-width: 767px;
                            li{
                                button{
                                    font-size: 20px;
                                    padding: 10px 10rem;
                                    margin: 10px 3rem;
                                    width: 150px;
                                }
                            }
                        }
                    }
                }
                #cont4{
                    .media{
                        max-width: 767px;
                        ul{
                            li{
                                width: 50%;
                                height: 100%; 
                            }
                            
                        }
                    }
                }
            }
            @media (max-width:449px)and(min-width:0px){ //모바일 0 ~ 449px
                html{
                    header{
                        #hd_up{
                            .hd_up{
                                .hamberger.ham_active{
                                    .bar1 {
                                        margin-top: 16rem;
                                        margin-bottom: -8rem;
                                    }
                                    .bar3 {
                                        margin-top: -8rem;
                                    }
                                }
                            }
                        }
                    }
                }
                .hamberger{
                    width: 100rem;
                    right: 4%;
                    top: 2%;
                    span{
                        width: 100%;
                        height: 10rem;
                        border-radius: 4px;
                    }
                    .bar1{margin-bottom: 12rem;}
                    .bar3{margin-top: 12rem;}
                }
                #hd_down{
                    article{
                        &:first-of-type{
                            h1{
                                width: 80%;
                            }
                        }
                    }
                    .nav_right{
                        font-size: 40rem;
                    }
                    .ham_link{
                        li{
                            width: 30%;
                            margin: 0 10rem;
                        }
                    }
                }
                .title{
                    line-height: 100rem;
            
                    h3{ font-size: 50rem;}
                    h2{ font-size: 100em;}
                }
                #cont2{
                    .tab_button{
                        ul{
                            max-width: 449px;
                            li{
                                button{
                                    font-size: 10px;
                                    padding: 5px 10rem;
                                    margin: 3px 3rem;
                                    width: 200rem;
                                }
                            }
                        }
                    }
                }
                
                #cont4{
                    margin-top: 200rem;
                    .media{
                        max-width: 360px;
                        ul{
                            li{
                                width: 85%;
                                .box{
                                    height: 350rem;
                                }
                                p{
                                    font-size: 40rem;
                                }
                            }
                        }
                    }
                }
            }
    }
}
#cont3{ // .light 높이
    @media (max-height:823px){
        
        .light{
            height: 100%;
        }
    }
    @media (max-height:740px){
        .light{
            height: 100%;
        }
    }
    @media (max-height:720px){
        .light{
            height: 85%;
        }
    }
    @media (max-height:667px){
        .light{
            height: 100%;
        }
    }
    @media (max-height:653px){
        .light{
            height: 118%;
        }
    }
    @media (max-height:640px){
        .light{
            height: 100%;
        }
    }
    @media (max-height:600px){
        .light{
            height: 85%;
        }
    }

    @media (max-height:568px){
        .light{
            height: 110%;
        }
    }
}



//main
main{

    .ban_movie{
        position: absolute;
        z-index: -1;
        width: 100%;

        #bg_vedio{
            filter: blur(5px);
            filter: brightness(0.30);
        }
    }
    .ban_flex{
        display: flex;
        justify-content: center;

        .banner{
            position: relative;

            .ban_media{
                width: 100%;
            }
            .banner_link{
                display: flex;
            }
            ul{

                &:last-of-type{
                    position: absolute;
                    display: flex;
                    z-index: 2;
                    margin: -70rem 0 0 -80rem;
                    transform: rotate(5deg);

                }
                .character1{
                    width: 120rem;

                }
                .character2{
                    width: 140rem;

                }
                .character3{
                    width: 160rem;
                    margin-left: -20rem;
                    transform: rotate(-13deg);

                }
            }
        }
    }
}

// cont1 ~ cont4 공통 .tittle > h3,h2
.title{
    font-family: "cookie_Regular";
    color: #fefefe;

    h2{ font-weight: 500; }
}

.animated{
    transition: 0.5s ease-out;
}

#cont1{ //UPDATE
    text-align: center;

    .slider{
        position: relative;
        width: auto;

        .slider_back{
            margin: 200rem auto;
            background-color: #3290D6;
            border-radius: 5px;
            padding: 30rem;
            max-width: 940rem;
            height: 650rem;
            box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.3);

            .slide_box {
                width: 920rem;
                height: 100%;
                position: relative;
                margin: 0 auto;
                overflow: hidden;


                .slide_list {
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    display: flex;

                    .sl_img {
                        width: 921.6rem;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        img{
                            border-radius: 5px;
                            width: 100%;
                            height: 90%;
                        }

                        .sl_text{
                            display: flex;
                            flex-direction: column;
                            justify-content: end;
                            text-align: left;
                            color: #fefefe;
                            height: 20%;

                            p{
                                font-size: 26rem;
                            }
                            span{
                                font-size: 30rem;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
        .controller {
            position: absolute;
            display: flex;
            justify-content: space-between;
            button{
                background-color: transparent;
                svg{
                    width: 90rem;
                }
            }

            //button hover 효과
            button svg:nth-child(2){display: none;}
            button:hover svg:nth-child(1){display: none;}
            button:hover svg:nth-child(2){display: block;}

            button svg:nth-child(2){display: none;}
            button:hover svg:nth-child(1){display: none;}
            button:hover svg:nth-child(2){display: block;}            
            
            .prev {}
            .next {}
        }

        .engel_svg{
            position: absolute;
            z-index: 28;
            width: 250rem;
            transform: rotate(-5deg);
            transform: translate(0 20%);
            animation: engel_svg 2.5s 0s infinite linear;
        }
    }
}
#cont2{  //CHARACTERS 
    text-align: center;
    margin-top: 300rem;

    button{
        background: none;
    }
    .tab_button{
        margin-top: 150rem;

        ul{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            li{
                margin: 0 5rem;

                button{
                    color: #fefefe;
                    background-color: #002f59;
                    box-shadow: 1px 1px 2px 1.5px #bee0ff;
                    border-radius: 5px;

                }
                &:hover button{
                    // background: linear-gradient(to right, #7fddff 20%,  #3a2aff 100%);
                    background:  #0069aa;
                    color: #fefefe;
                }

            }
        }
    }
    .tab_button{
        ul{
            li{
                button.tabBtn_active{
                    background:  #0069aa;
                }
            }
        }
    }
    .tab_cont{
        .tab_icon{
            .tabIcon_active{background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #7fddff 20%,  #3a2aff 100%);}
        }
    }
    .tab_cont{
        display: flex;
        align-items: center;
        margin-top: 100rem;
        .tab_icon{
            ul{
                display: flex;
                flex-direction: column;
                li{
                    border: 3rem solid transparent;
                    border-radius: 50%;
                    background-image: linear-gradient(#fefefe, #fefefe), linear-gradient(to right, #54abff 20%,  #00073f 100%);
                    background-origin: border-box;
                    background-clip: content-box, border-box;
                    
                    &:hover{
                        background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #7fddff 20%,  #3a2aff 100%);
                    }


                    button{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        svg{
                            width: 100%;
                        }
                    }
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .menu_characters{
            .menu{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                .menu_Back{
                    width: 100%;
                    
                }
                ul{
                    position: absolute;
                    top: 15%;
                    left: -5%;
                    width: 100%;

                    li{
                        position: relative;
                        width: 120%;
                        
                        img{
                            top:0; left:0;
                            position: absolute;
                            width: 100%;

                        }
                        &:first-of-type{
                            display: block;

                        }
                    }
                }
            }
        }
        .menu_text{
            padding: 60rem;
            ul{
                li{
                    text-align: left;
                    width: 100%;
                    color: #fefefe;
                    p{
                        white-space: pre-line;
                        color: #d2e4ff;
                    }
                    &:first-of-type{
                        display: block;

                    }
                }
            }
            
        }
    }
    
}
#cont3{  //KINGDOM STORY
    height: 1800rem;
    position: relative;
    padding: 0 10rem;

    .light{
        position: absolute;
        top: -8%;
        right: 0;
        z-index: 0;
        img{
            width: 100%;
            height: 100%;
        }
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        ul{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .story{
            position: relative;
            display: flex;
            justify-content: center;
            text-align: center;
            margin-top: 180rem;
            color: #dfdfdf;
            font-size: 20rem;
        }
        .cont3_ch{
            position: relative;
            .cont3_charac{

                img{
                    position: absolute;
                    animation: ct3_ch 5s 0s infinite linear;

                    @keyframes ct3_ch {
                        0% { margin-top: 0%; }
                        25% { margin-top: -1.5%; }
                        50% { margin-top: -3%; }
                        75% { margin-top: -1.5%; }
                        100% { margin-top: 0%; }
            
                    }
                }
            }
            .shadow{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                transform: translate(0%, 0%);
                margin-top: 43%;
                display: flex;
                justify-content: space-around;
                span{
                    width: 300rem;
                    height: 25rem;
                    border-radius: 50%;
                    background-color: #6a95bd;
                    animation: size 5s 0s infinite linear;
                
                    @keyframes size {
                        0% {
                            transform: scale(0.8,0.8);
                            transform-origin: center;
                            opacity: 0.4;
                        }
                        50%{
                            transform: scale(0.5,0.5);
                            transform-origin: center;
                            opacity: 0.2;
                        }
                        100% {
                            transform: scale(0.8,0.8);
                            transform-origin: center;
                            opacity: 0.3;
                        }
                    }
                }
                
                span:nth-child(1){
                    margin-top: -110rem;
                    margin-left: -50rem;
                }
                span:nth-child(2){
                    margin-top: -50rem;
                }
                span:nth-child(3){
                    position: absolute;
                    margin-top: 0px;
                }
                span:nth-child(4){
                    margin-top: -50rem;
                }
                span:nth-child(5){
                    margin-top: -110rem;
                    margin-right: -50rem;
                }
            }
        }
    }
}
#cont4{  //UPDATE
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        .media{
            margin-top: 150rem;
            ul{
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;

                li{
                    box-sizing: border-box;
                    margin: 20rem 0;
                    padding: 0 10rem;
                    .box{
                        border-radius: 5px;
                        overflow: hidden;
                        padding: 0;

                        &:hover ~p{
                            color: #fefefe;
                        }

                        iframe{
                            width: 100%;
                            height: 100%;
                            transition: 0.5s;
                            &:hover{
                                transform: scale(105%)
                            }
                        }
                    }
                    p{
                        margin-top: 20rem;
                    }
                }
            }
        }
        .more{
            margin: 150rem 0 120rem 0;
            button{
                border: solid 2px #0069aa;
                border-radius: 5px;
                a{
                    display: block;
                    color: #0069aa;
                    padding: 2rem;
                    width: 200rem;
                    font-size: 30rem;
                }
                &:hover{
                    background-color: #0069aa;
                    border: solid 2px #fefefe;

                    a{
                        color: #fefefe;
                    }
                }
                
            }
            
        }
    }
}
footer{
    padding: 55rem 0;
    text-align: center;
    background-color: #002f59;
    color: #d3d3d3;
    .sns{
        display: flex;
        justify-content: center;
        li{
            margin: 10rem 5rem 30rem 5rem;
            width: 90rem;
            cursor: pointer;

            img{
                width: 100%;
            }
        }
    }
    .foot_box{
        display: flex;
        justify-content: center;
        li{
            border: solid 1px #d3d3d3;
            border-radius: 3px;
            padding: 8rem 20rem;
            margin: 0 10rem;
            font-size: 15rem;
            cursor: pointer;
        }
    }
    .foot_text{
        font-size: 15rem;
        margin-top: 30rem;
        .ft_text_center{
            display: flex;
            justify-content: center;
            p{
                padding: 0 10rem;
            }
        }
    }
    .foot_bottom{
        padding: 20rem 0 0 0;
        p{
            color: #fefefe;
            font-size: 30rem;
            cursor: pointer;
        }
    }
}
