@charset "UTF-8";
@media (max-width: 1440px) {
  .container {
    width: 100%;
  }
}
header {
  position: fixed;
  width: 100vw;
  z-index: 30;
  font-size: 14px;
}
header #hd_up {
  height: 34px;
  padding: 0 20px;
  background-color: #0069aa;
}
header #hd_up .hd_up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eee;
  height: 100%;
}
header #hd_up .hd_up ul {
  display: flex;
  justify-content: space-between;
}
header #hd_up .hd_up ul li {
  margin-right: 15px;
}
header #hd_up .hd_up form {
  display: flex;
}
header #hd_up .hd_up form select {
  font-size: 14px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #eee;
}
header #hd_up .hd_up form select option {
  background-color: #0069aa;
  text-align: center;
}
header #hd_down {
  background-color: #002f59;
  padding: 3px 20px;
  height: 65px;
}
header #hd_down ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header #hd_down ul li:nth-last-of-type(2) {
  margin-left: 1vw;
}
header #hd_down ul li:nth-last-of-type(2) ul {
  font-size: 20px;
}
header #hd_down ul li:nth-last-of-type(2) ul li {
  margin-right: 8vw;
}
header #hd_down ul li:last-of-type ul li {
  margin-right: 20px;
}
header #hd_down ul li h1 img {
  display: flex;
}

main .ban_movie {
  position: absolute;
  z-index: -1;
  width: 100%;
  margin-top: -100px;
}
main .ban_movie #bg_vedio {
  filter: blur(10px);
  filter: brightness(0.3);
}
main .ban_flex {
  display: flex;
  justify-content: center;
  padding-top: 130px;
}
main .ban_flex .banner {
  position: relative;
  padding-top: 50px;
  width: 65vw;
  margin: 0;
}
main .ban_flex .banner .ban_media {
  width: 100%;
}
main .ban_flex .banner .ban_media #bn_vedio {
  border: solid 1px #fefefe;
}
main .ban_flex .banner .ban_border {
  position: absolute;
  top: 30px;
  left: 15px;
  z-index: 2;
  border: solid 1px #fefefe;
  width: 98%;
  height: 98%;
}
main .ban_flex .banner ul:last-of-type {
  position: absolute;
  display: flex;
  z-index: 2;
  margin: -70px 0 0 -80px;
  transform: rotate(5deg);
}
main .ban_flex .banner ul .characters1 {
  width: 6vw;
}
main .ban_flex .banner ul .characters2 {
  width: 7.5vw;
}
main .ban_flex .banner ul .characters3 {
  width: 8.5vw;
  margin-left: -20px;
  transform: rotate(-13deg);
}

.title {
  font-family: "cookie_Regular";
  color: #fefefe;
  line-height: 3vw;
}
.title h3 {
  font-size: 1.7vw;
}
.title h2 {
  font-weight: 500;
  font-size: 3vw;
}

#section_back {
  margin-top: -5vw;
}

.animated {
  transition: 0.5s ease-out;
  /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
}

.cont1 {
  height: 140vh;
  text-align: center;
  padding-top: 15vw;
}
.cont1 .slider {
  position: relative;
  width: 100%;
}
.cont1 .slider .slider_back {
  margin: 10vw auto;
  background-color: #3290D6;
  border-radius: 5px;
  padding: 2vw;
  max-width: 47.4vw;
  height: 30.5vw;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
}
.cont1 .slider .slider_back .slide_box {
  background-color: #54abff;
  width: 46.4vw;
  height: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.cont1 .slider .slider_back .slide_box .slide {
  position: absolute;
  left: 0;
  top: 0;
}
.cont1 .slider .slider_back .slide_box .slide li {
  width: 46.4vw;
  float: left;
}
.cont1 .slider .slider_back .slide_box .slide .sl_img img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.cont1 .slider .slider_back .slide_box .slide .sl_img .sl_text {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #fefefe;
  margin-top: 10px;
}
.cont1 .slider .slider_back .slide_box .slide .sl_img .sl_text p {
  font-size: 1.3rem;
}
.cont1 .slider .slider_back .slide_box .slide .sl_img .sl_text span {
  font-size: 1.5rem;
  font-weight: bold;
}
.cont1 .slider .controller {
  position: absolute;
  width: 70vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}
.cont1 .slider .controller button {
  background-color: #3290D6;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.3);
  color: black;
  text-align: center;
  border-radius: 50%;
  padding: 10px 23px;
  font-size: 1.3em;
  cursor: pointer;
}
.cont1 .slider .controller button:hover {
  background-color: #eee;
}
.cont1 .slider .engel_svg {
  position: absolute;
  width: 10vw;
  transform: rotate(-5deg);
  top: -23%;
  right: 12%;
  animation: engel_svg 2.5s 0s infinite linear;
}
@keyframes engel_svg {
  0% {
    top: -23%;
  }
  25% {
    top: -25%;
  }
  50% {
    top: -23%;
  }
  75% {
    top: -25%;
  }
  100% {
    top: -23%;
  }
}

.cont2 {
  text-align: center;
  height: 100vh;
}
.cont2 button {
  background: none;
}
.cont2 .tab_button {
  margin-top: 100px;
  width: 100%;
}
.cont2 .tab_button ul {
  display: flex;
  justify-content: center;
}
.cont2 .tab_button ul li {
  margin: 0 5px;
}
.cont2 .tab_button ul li button {
  font-size: 18px;
  padding: 10px 15px;
  background-color: #0069aa;
  border: solid 2px #fefefe;
}
.cont2 .tab_button ul li:hover button {
  background: linear-gradient(to right, #7fddff 20%, #3a2aff 100%);
}
.cont2 .tab_cont {
  display: flex;
  align-items: center;
  margin-top: 70px;
}
.cont2 .tab_cont .tab_icon {
  width: 25%;
  display: flex;
  justify-content: space-around;
}
.cont2 .tab_cont .tab_icon ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  padding: 5px;
  margin: 15px;
  border: 32x solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#fefefe, #fefefe), linear-gradient(to right, #54abff 20%, #00073f 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.cont2 .tab_cont .tab_icon ul li:hover {
  background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #7fddff 20%, #3a2aff 100%);
}
.cont2 .tab_cont .tab_icon ul li button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont2 .tab_cont .tab_icon ul li button svg {
  width: 100%;
}
.cont2 .tab_cont .tab_icon ul li img {
  width: 100%;
}
.cont2 .tab_cont .menu_characters {
  width: 40%;
}
.cont2 .tab_cont .menu_characters .menu {
  position: relative;
}
.cont2 .tab_cont .menu_characters .menu .menu_Back {
  width: 100%;
}
.cont2 .tab_cont .menu_characters .menu ul {
  position: absolute;
  top: 15%;
  left: -5%;
  width: 100%;
}
.cont2 .tab_cont .menu_characters .menu ul li {
  position: relative;
  width: 120%;
}
.cont2 .tab_cont .menu_characters .menu ul li img {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
.cont2 .tab_cont .menu_characters .menu ul li:first-of-type {
  display: block;
}
.cont2 .tab_cont .menu_text {
  width: 30%;
  padding: 60px;
}
.cont2 .tab_cont .menu_text ul li {
  text-align: left;
  width: 100%;
  color: #fefefe;
}
.cont2 .tab_cont .menu_text ul li h5 {
  font-size: 25px;
}
.cont2 .tab_cont .menu_text ul li h4 {
  font-size: 35px;
  margin: 20px 0 30px;
}
.cont2 .tab_cont .menu_text ul li p {
  margin-top: 30px;
  white-space: pre-line;
  color: #dfdfdf;
}
.cont2 .tab_cont .menu_text ul li:first-of-type {
  display: block;
}

.cont3 {
  height: 200vh;
  margin-top: 100px;
  position: relative;
}
.cont3 .light {
  position: absolute;
  top: 0;
  right: 0%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 0;
}
.cont3 .light svg {
  width: 100%;
  height: 100%;
}
.cont3 .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cont3 .container ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cont3 .container .story {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  color: #dfdfdf;
  font-size: 1rem;
}
.cont3 .container .cont3_ch {
  width: 60vw;
  margin-top: 100px;
}
.cont3 .container .cont3_ch .cont3_charac {
  position: relative;
}
.cont3 .container .cont3_ch .cont3_charac img {
  position: absolute;
  animation: ct3_ch 5s 0s infinite linear;
}
@keyframes ct3_ch {
  0% {
    margin-top: 0%;
  }
  25% {
    margin-top: -1.5%;
  }
  50% {
    margin-top: -3%;
  }
  75% {
    margin-top: -1.5%;
  }
  100% {
    margin-top: 0%;
  }
}
.cont3 .container .cont3_ch .shadow {
  margin-top: 25vw;
  display: flex;
  justify-content: space-around;
}
.cont3 .container .cont3_ch .shadow span {
  width: 10vw;
  height: 2vw;
  border-radius: 50%;
  opacity: 30%;
  background-color: #7c7c7c;
  opacity: 0;
  animation: size 5s 0s infinite linear;
}
@keyframes size {
  0% {
    width: 10vw;
    height: 2vw;
    opacity: 100%;
  }
  50% {
    width: 5vw;
    height: 1vw;
    opacity: 40%;
  }
  100% {
    width: 10vw;
    height: 2vw;
    opacity: 100%;
  }
}
.cont3 .container .cont3_ch .shadow span:nth-child(1) {
  margin-top: -100px;
  margin-left: -3vw;
}
.cont3 .container .cont3_ch .shadow span:nth-child(2) {
  margin-top: -50px;
  margin-left: -13vw;
}
.cont3 .container .cont3_ch .shadow span:nth-child(3) {
  position: absolute;
  margin-top: 0px;
}
.cont3 .container .cont3_ch .shadow span:nth-child(4) {
  margin-top: -50px;
  margin-right: -12vw;
}
.cont3 .container .cont3_ch .shadow span:nth-child(5) {
  margin-top: -100px;
  margin-right: -3vw;
}

.cont4 {
  height: 130vh;
}
.cont4 .container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cont4 .container .media {
  margin-top: 100px;
}
.cont4 .container .media ul {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.cont4 .container .media ul li {
  padding: 0 10px;
}
.cont4 .container .media ul li .box {
  width: 25vw;
  border: solid 2px #fefefe;
  border-radius: 5px;
  height: 15vw;
  overflow: hidden;
}
.cont4 .container .media ul li iframe {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.cont4 .container .media ul li iframe:hover {
  transform: scale(105%);
}
.cont4 .container .media ul li p {
  margin-top: 10px;
  color: #fefefe;
}
.cont4 .container .more {
  margin-top: 150px;
}
.cont4 .container .more button {
  padding: 5px;
  width: 10vw;
  border: solid 2px #fefefe;
  border-radius: 5px;
  font-size: 1.5rem;
}
.cont4 .container .more button:hover {
  background-color: #0069aa;
  color: #fefefe;
}

footer {
  text-align: center;
  background-color: #002f59;
  color: #d3d3d3;
}
footer .sns {
  display: flex;
  justify-content: center;
}
footer .sns li {
  margin: 40px 5px 30px 5px;
  width: 4vw;
}
footer .sns li img {
  width: 100%;
}
footer .foot_box {
  display: flex;
  justify-content: center;
}
footer .foot_box li {
  border: solid 1px #d3d3d3;
  border-radius: 2px;
  padding: 5px 10px;
  margin: 0 10px;
}
footer .foot_text {
  margin-top: 30px;
}
footer .foot_text .ft_text_center {
  display: flex;
  justify-content: center;
}
footer .foot_text .ft_text_center p {
  padding: 0 10px;
}
footer .foot_bottom {
  margin: 20px 0 0 0;
}
footer .foot_bottom p {
  color: #fefefe;
  font-size: 3rem;
  padding-bottom: 20px;
}