html {
  font-size: 6.25%;
}

@media (min-width: 2001px) {
  html {
    font-size: 0.0499750125vw;
  }
}
@media (max-width: 1999px) and (min-width: 1601px) {
  html {
    font-size: 0.05vw;
  }
}
@media (min-width: 1601px) {
  .ban_flex {
    margin-top: 100rem;
  }
  .ban_flex .banner {
    width: 1400rem;
  }
}
@media (max-width: 1600px) and (min-width: 1441px) {
  .ban_flex {
    padding-top: 100rem;
    margin-top: 100rem;
  }
  .ban_flex .banner {
    width: 1200rem;
  }
}
@media (max-width: 1440px) {
  #section_back {
    margin-top: -150rem;
  }

  .ban_flex .banner {
    width: 1200rem;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  html {
    font-size: 0.0694444444vw;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 0.09765625vw;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 0.1111111111vw;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 0.1303780965vw;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 0.2vw;
  }
}
@media (max-width: 499px) {
  html {
    font-size: 0.3vw;
  }
}