@charset "utf-8";

html {
    font-size: 6.25%;
  }  
@media (min-width : 1025px){
    .desktop{
        display: block;
    }
    .mobile{
        display: none;
    }
}
@media (max-width:1024px) and (min-width:0px){
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
}




@media (min-width:2001px) {
    html {
        font-size: 0.0499750124937531vw;
    }
}
@media (max-width:1999px) and (min-width:1601px) {
    html {
        font-size: 0.05vw;
    }
}
@media (min-width: 1601px){
    .banner{
        width: 1400rem;
    }
}
@media (max-width: 1600px) and (min-width:1441px) {
    .banner{
        width: 1200rem;
    }
}
@media (max-width:1440px) {
    #section_back {
    margin-top: -150rem; // main 과 #cont1_배경 겹치게
    }
    .banner{
        width: 1200rem;
    }
}

@media (max-width:1440px) and (min-width:1025px) {
    html {
        font-size: 0.0694444444444444vw;
    }
    
}


@media (max-width:1024px){
    html{
        font-size: 0.09765625vw;
    }

}
  